name: H5Pack Build

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build_android:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      
      - uses: actions/setup-node@v4
        with:
          node-version: '20'

      - run: npm install

      - run: |
          sudo apt-get update
          sudo apt-get install -y libfontconfig libicu67 libxi6 libxrender1 libxtst6

      - run: npm run compress
      
      - uses: actions/upload-artifact@v4
        with:
          name: app-release-apk
          path: android/app/build/outputs/apk/release/app-release.apk